%h2 利用者のページ

%table{border: 1}
  %p= '名　前：' + @user.name
  %p= '住　所：' + @user.address

%table{border: 1}
  %tr
    %th タイトル
    %th 著者名
  - @books.each do |book|
    %tr
      %td= book.title
      %td= book.author